## Core latex/pdflatex auxiliary files:
Report/*.aux
Report/*.lof
Report/*.log
Report/*.lot
Report/*.fls
Report/*.out
Report/*.toc

## Intermediate documents:
Report/*.dvi
Report/*-converted-to.*
# these rules might exclude image files for figures etc.
# Report/*.ps
# Report/*.eps
Report/*.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
Report/*.bbl
Report/*.bcf
Report/*.blg
Report/*-blx.aux
Report/*-blx.bib
Report/*.brf
Report/*.run.xml

## Build tool auxiliary files:
Report/*.fdb_latexmk
Report/*.synctex
Report/*.synctex.gz
Report/*.synctex.gz(busy)
Report/*.pdfsync

## Auxiliary and intermediate files from other packages:

# algorithms
Report/*.alg
Report/*.loa

# achemso
Report/acs-*.bib

# amsthm
Report/*.thm

# beamer
Report/*.nav
Report/*.snm
Report/*.vrb

#(e)ledmac/(e)ledpar
Report/*.end
Report/*.[1-9]
Report/*.[1-9][0-9]
Report/*.[1-9][0-9][0-9]
Report/*.[1-9]R
Report/*.[1-9][0-9]R
Report/*.[1-9][0-9][0-9]R
Report/*.eledsec[1-9]
Report/*.eledsec[1-9]R
Report/*.eledsec[1-9][0-9]
Report/*.eledsec[1-9][0-9]R
Report/*.eledsec[1-9][0-9][0-9]
Report/*.eledsec[1-9][0-9][0-9]R

# glossaries
Report/*.acn
Report/*.acr
Report/*.glg
Report/*.glo
Report/*.gls

# gnuplottex
Report/*-gnuplottex-*

# hyperref
Report/*.brf

# knitr
Report/*-concordance.tex
Report/*.tikz
Report/*-tikzDictionary

# listings
Report/*.lol

# makeidx
Report/*.idx
Report/*.ilg
Report/*.ind
Report/*.ist

# minitoc
Report/*.maf
Report/*.mtc
Report/*.mtc0

# minted
Report/*_minted*
Report/*.pyg

# morewrites
Report/*.mw

# nomencl
Report/*.nlo

# sagetex
Report/*.sagetex.sage
Report/*.sagetex.py
Report/*.sagetex.scmd

# sympy
Report/*.sout
Report/*.sympy
Report/*sympy-plots-for-*.tex/

# todonotes
Report/*.tdo

# xindy
Report/*.xdy

# WinEdt
Report/*.bak
Report/*.sav